<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>First server</title>

</head>

<body>
  <% for ( let i =0 ; i < 5; i++){ %>

  <h1>Hello <%=name %>  <%= day %> </h1>

  <%  }  %>

</body>

</html>