<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz application</title>
  <link rel="stylesheet" href="../assets/style.css">
</head>
<body>
  <main>
    <div class="score-container">
      <div class="score">
        <p>SCORE: </p>
        <p class="score-number">0</p>
      </div>
      <div class="time">
          <p>TIME: </p>
          <p class="time-number">5</p>
        </div>
    </div>

    <div class="question-container">
      <p class="question"></p>
      <div class="answer-container">
        <button></button>
        <button></button>
        <button></button>
        <button></button>
      </div>
    </div>

    <p class="manage-question">Manage questions</p>
  </main>
  
  <script src="../assets/frontend.js"></script>
</body>
</html>
