<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
  </head>

  <body>
    <h1><strong>Things to do today:</strong></h1>
    <ul>
      <% for (let i = 0; i < todosKey.length; i++) { %>
      <li><%= todosKey[i] %></li>
      <% } %>
    </ul>
  </body>

</html>