* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 214, 42);
  width: 758px;
  height: 280px;
}

.item {
  width: 110px;
  height: 110px;
  background-color: rgb(176, 42, 255);
}
