.boxs{
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.box1{
  width: 200px;
  height: 200px;
  background: green;
}
.box2{
width:200px;
height: 200px;
flex-basis: 400px;
background: yellow;
}
.box3{
  width: 200px;
  height: 200px;
  background: purple;
}