* {
  margin: 0;
  padding: 0;
}

body {
  background:  linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.2)),url('cocktails.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Arya', sans-serif;
}


h1 {
  color: teal;
  text-align: center;
  margin: 20px 0px 30px 0px;
  font-family: 'Finger Paint', cursive;
}

body > ul {
  width: 40%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

body > ul > li {
  list-style-type: none;
  cursor: pointer;
  margin: 0px 5px 13px 5px;
  
}

button {
  background-color: teal;
  color: white;
  border-radius: 20%;
  border: 1px solid orange;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Crushed', cursive;
}

button:hover {
  transform: scale(1.2, 1.2);
  border: 2px solid yellow;
}



#cocktails-container {
  width: 60%;
  margin: 0 auto;
  opacity: 0.8;
}


.one-cocktail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.one-cocktail-container:nth-child(even) {
  background-color: papayawhip;
}

.one-cocktail-container:nth-child(odd) {
  background-color: wheat;
}


.one-cocktail-container > div > h4,
.one-cocktail-container > div > p {
  text-align: left;
  margin-left: 20px;
}

.one-cocktail-container > p {
  text-align: center;
  margin-right: 50px;
  font-weight: bold;
}
